<!-- START FLASH -->                     
<% if flash[:title] == "Error" %>
<div class="alert alert-danger"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% elsif flash[:title] == "Success" %>
<div class="alert alert-success"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button></div>
<% end %>

<% content_for :title, "Reset Complete" %>
<div class="login-container" id="snow">

  <div class="login-box animated fadeInDown">
    <div class="login-body">
      <p><center>Seasons Greetings, <%= @current_user.first_name %>!<br/>
      		Select app:</center></p>
			<div class="list-group">
			    <a href="/bucks" class="list-group-item"><span class="badge bucks-color"><span class="fa fa-usd"></span></span> Bucks</a>
			    <a href="/mysize" class="list-group-item"><span class="badge mysize-color"><span class="fa fa-arrows-v "></span></span> mySize</a>
			    <a href="/polls" class="list-group-item"><span class="badge polls-color"><span class="fa fa-bar-chart-o"></span></span> Polls</a>
			</div>
    </div>
    <div class="login-footer">
      <div class="pull-left">
        &copy; 2017 Penn National Gaming
      </div>
      <div class="pull-right">
        <%= link_to "Reset Password", controller: :employees, action: :reset_password %>
      </div>
    </div>
  </div>

</div>
    